#langchain core
langchain
langchain-core

#openAi Integration
langchain-openAi
openai

#anthropic integration
langchain-anthropic

#google gemini (PALM) integration
langchain-google-genai
google-generativeai

#hugging face integration
langchain-huggingface
transformers
huggingface-hub

#environment variable management
python-dotenv

#machine learning utilities
numpy
scikit-learn
